/* Boutons dorés */
.btn-gold {
    background-color: #FFD700; /* Fond doré */
    color: #0a0a23; /* Texte bleu foncé */
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
 