<div class="container bg-dark-blue text-white p-4 rounded">
  <h2 class="mt-4 text-gold">Ajouter un Événement</h2>
  <form [formGroup]="evenementForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nomEvenement" class="form-label">Nom de l'événement</label>
      <input type="text" id="nomEvenement" formControlName="nomEvenement" class="form-control bg-light-blue text-white">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" formControlName="description" class="form-control bg-light-blue text-white"></textarea>
    </div>
    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input type="date" id="dateDebut" formControlName="dateDebut" class="form-control bg-light-blue text-white">
    </div>
    <div class="mb-3">
      <label for="dateFin" class="form-label">Date de fin</label>
      <input type="date" id="dateFin" formControlName="dateFin" class="form-control bg-light-blue text-white">
    </div>
    <div class="mb-3">
      <label for="prix" class="form-label">Prix</label>
      <input type="number" id="prix" formControlName="prix" class="form-control bg-light-blue text-white" min="0" required>
    </div>
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-gold">Ajouter</button>
      <a [routerLink]="['/evenements']" class="btn btn-gold">Annuler</a>
    </div>
  </form>
</div>
