/* Définition d'une couleur de gris */
.btn-gris {
    background-color: #6c757d; /* Gris */
    border-color: #6c757d;     /* Gris */
    color: white;              /* Texte blanc */
  
    &:hover {
      background-color: #5a6268; /* Gris foncé au survol */
      border-color: #545b62;     /* Gris foncé */
    }
  
    &:focus, &:active {
      background-color: #545b62; /* Gris foncé quand actif ou au focus */
      border-color: #4e555b;     /* Gris encore plus foncé */
    }
  }
  