<div class="container bg-dark-blue text-white p-4 rounded">
  <h2 class="mt-4 text-gold">Modifier la Formation</h2>
  <form (ngSubmit)="updateFormation()">
    <!-- Titre -->
    <div class="mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input type="text" id="titre" [(ngModel)]="formation.titre" name="titre" class="form-control bg-light-blue text-white" required>
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" [(ngModel)]="formation.description" name="description" class="form-control bg-light-blue text-white" required></textarea>
    </div>

    <!-- Date de création -->
    <div class="mb-3">
      <label for="dateCreation" class="form-label">Date de Création</label>
      <input type="date" id="dateCreation" [(ngModel)]="formation.dateCreation" name="dateCreation" class="form-control bg-light-blue text-white" required>
    </div>

    <!-- Prix -->
    <div class="mb-3">
      <label for="prix" class="form-label">Prix</label>
      <input type="number" id="prix" [(ngModel)]="formation.prix" name="prix" class="form-control bg-light-blue text-white" required>
    </div>

    <!-- Boutons -->
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-gold">Mettre à jour</button>
      <a [routerLink]="['/color']" class="btn btn-gold">Annuler</a>
      <a [routerLink]="['/formations']" class="btn btn-gold">Retour à la liste des formations</a>
    </div>
  </form>
</div>
