<div class="container">
    <h2 class="mt-4">Ajouter une Formation</h2>
    <form (ngSubmit)="addFormation()">
      <div class="mb-3">
        <label for="titre" class="form-label">Titre</label>
        <input type="text" id="titre" [(ngModel)]="formation.titre" name="titre" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" [(ngModel)]="formation.description" name="description" class="form-control" required></textarea>
      </div>
      <div class="mb-3">
        <label for="dateCreation" class="form-label">Date de Création</label>
        <input type="date" id="dateCreation" [(ngModel)]="formation.dateCreation" name="dateCreation" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-success">Ajouter</button>
      <a [routerLink]="['/color']" class="btn btn-secondary">Annuler</a> <!-- Ensure routerLink is used correctly -->
    </form>
</div>
