<div class="container">
  <h2 class="mt-4">Modifier l'Utilisateur</h2>
  <form (ngSubmit)="updateUser()">
    <div class="mb-3">
      <label for="username" class="form-label">Nom d'utilisateur</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">Prénom</label>
      <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Nom</label>
      <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" class="form-control" required>
    </div>

    <!-- Rôles avec une liste déroulante -->
    <div class="mb-3">
      <label for="roles" class="form-label">Rôles</label>
      <select id="roles" [(ngModel)]="user.roles" name="roles" class="form-control" multiple>
        <option value="ADMIN">Administrateur</option>
        <option value="USER">Utilisateur</option>
        <option value="MODERATOR">Modérateur</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Mettre à jour</button>
    <a [routerLink]="['/liste-user']" class="btn btn-gris">Retour à la liste des utilisateurs</a>
  </form>
</div>
