/* Bouton Supprimer en gris */
.btn-gris-supprimer {
    background-color: #6c757d; /* Gris moyen */
    color: white;
    border: none;
    padding: 6px 12px; /* Petites dimensions */
    border-radius: 4px;
    font-size: 14px; /* Taille de police réduite */
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #5a6268; /* Gris plus foncé au survol */
    }
  }
  
  /* Bouton Modifier en gris */
  .btn-gris-modifier {
    background-color: #6c757d; /* Gris moyen */
    color: white;
    border: none;
    padding: 6px 12px; /* Petites dimensions */
    border-radius: 4px;
    font-size: 14px; /* Taille de police réduite */
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #5a6268; /* Gris plus foncé au survol */
    }
  }
  