<div class="container bg-dark-form">
  <h2 class="mt-4 text-center text-gold">Liste des Événements</h2>
  <table class="table table-bordered text-white">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date de Début</th>
        <th>Date de Fin</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evenement of evenements">
        <td>{{ evenement.nomEvenement || 'Nom non disponible' }}</td>
        <td>{{ evenement.dateDebut | date: 'dd/MM/yyyy' }}</td>
        <td>{{ evenement.dateFin | date: 'dd/MM/yyyy' }}</td>
        <td>{{ evenement.description || 'Aucune description disponible' }}</td>
        <td>{{ evenement.prix ? '$' + evenement.prix : 'Prix non disponible' }}</td>
        <td>
          <button class="btn btn-gold" (click)="deleteEvenement(evenement.idEvenement)">Supprimer</button>
          <a [routerLink]="['/evenement/edit', evenement.idEvenement]" class="btn btn-gold">Modifier</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a [routerLink]="['/Evenement']" class="btn btn-gold">Ajouter Un Evenement</a>
  <a [routerLink]="['/dashboard/default']" class="btn btn-gold">Retour à l'accueil</a>
</div>
