<!-- user-list.component.html -->
<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Portfolio Balance</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Initial Balance</th>
        <th>Roles</th>
        <th>Actions</th>  <!-- Ajout de la colonne Actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.portfolioBalance }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.initialBalance }}</td>
        <td>
          <ul>
            <li *ngFor="let role of user.roles">{{ role.name }}</li>
          </ul>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteUser(user.id)">Supprimer</button>  <!-- Bouton de suppression -->
          <!-- Bouton de modification -->
          <a [routerLink]="'/modifier-user/' + user.id" class="btn btn-primary">Modifier</a>
        </td>
      </tr>
    </tbody>
  </table>
  