<div class="container">
    <h2 class="mt-4">Liste des Progressions</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
                <th>Score</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let progression of progressions">
                <td>{{ progression.id }}</td>
                <td>{{ progression.datedebut }}</td>
                <td>{{ progression.datefin }}</td>
                <td>{{ progression.score }}</td>
                <td>{{ progression.status }}</td>
                <td>
                    <button class="btn btn-info" (click)="getTrainingDuration(progression.id)">Durée</button>
                    <button class="btn btn-success" (click)="updateProgressionStatus(progression.id)">Mettre à jour le statut</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
