.sentiment-message {
    text-align: center;
    font-size: 1rem;  // Taille de police ajustée
    font-weight: bold;
    padding: 1rem;
    margin-top: 2rem;  // Ajout d'un espace de 2rem au-dessus du message
    margin-bottom: 1rem;  // Ajout d'un espace en bas du message
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 1s ease-in;
  
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  
    &.positive-sentiment {
      background-color: #e8f5e9;
      color: #4caf50;
      border: 2px solid #4caf50;
    }
  
    &.negative-sentiment {
      background-color: #ffebee;
      color: #f44336;
      border: 2px solid #f44336;
    }
  
    &.neutral-sentiment {
      background-color: #e3f2fd;
      color: #2196f3;
      border: 2px solid #2196f3;
    }
  }
  
  // Animation fade-in
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  