<body class="dark-mode">
  <nav>
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="javascript:" class="b-brand">
        </a>
      </div>
      <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100 compact"></app-nav-content>
    </div>
  </nav>
  <div class="nav-group">
    <a href="dashboard/default" class="nav-item">Accueil</a>
    <a href="/evenements" class="nav-item">Evenement</a>
    <a href="/formations" class="nav-item">Formation</a>
    <a href="/liste-user" class="nav-item">Liste User</a>
  </div>
</body>
