<div class="container">
  <h2 class="mt-4">Modifier l'Événement</h2>
  <form (ngSubmit)="updateEvenement()">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <!-- Correction : utilisez evenement.nomEvenement au lieu de evenement.nom -->
      <input type="text" id="nom" [(ngModel)]="evenement.nomEvenement" name="nomEvenement" class="form-control" required />
    </div>

    <!-- Champ pour la date de début -->
    <div class="mb-3">
      <label for="dateDebut" class="form-label">Date de Début</label>
      <input type="date" id="dateDebut" [(ngModel)]="evenement.dateDebut" name="dateDebut" class="form-control" required />
    </div>

    <!-- Champ pour la date de fin -->
    <div class="mb-3">
      <label for="dateFin" class="form-label">Date de Fin</label>
      <input type="date" id="dateFin" [(ngModel)]="evenement.dateFin" name="dateFin" class="form-control" required />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" [(ngModel)]="evenement.description" name="description" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-success">Mettre à jour</button>
    <a [routerLink]="['/evenements']" class="btn btn-gris">Annuler</a>
    <a [routerLink]="['/evenements']" class="btn btn-gris">Retour à la liste des événements</a>
  </form>
</div>
